@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    

    background-color: #727575;
}

.header {
    grid-column: 2/3;

    background-color: #f5f5dc;
}

.sidebar {
    grid-column: 1/2;

    background-color: #3b82f6;
    color: #f0f9ff;
    padding: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4px;
    align-items: center;

    margin-bottom: 20px;
}
.sidebar-nav,
.sidebar-contacts {
    margin-bottom: 20px;
}

.sidebar-nav li,
.sidebar-contacts li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;

    margin-bottom: 20px;
}

.vw-db {
    fill: #f5f5dc;
    width: 40px;

}

.svg {
    fill: #f0f9ff;
    width: 17px;

    justify-self: center;
}
.sidebar-nav > ul,
.sidebar-contacts > ul {
    list-style-type: none;
}
.main-content {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #cbd5e1;    
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.card {
    background-color: #f0f9ff;
    padding: 15px;
    margin: 8px;
    border-left: 8px solid #84cc16;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #727575;
}