@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 1fr 5fr; */

    background-color: #727575;
}

.header {
    grid-column: 2/3;

    background-color: #fff;
    padding: 20px;
}

.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

input[type="search"] {
    width: 80%;
    height: 1.5rem;
    background-color: #9ca3af;
    border: none;
    border-radius: 10px;
}

.right-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left-header {
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.nav-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    text-align: center;
    list-style: none;
}

.nav-link > li {
    border-radius: 20px;
    background-color: #3b82f6;
    color: #fff;
    width: 100px;
    height: 40px;
    padding-top: 9px;
    cursor: pointer;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #3b82f6;
    color: #fff;
    padding: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4px;
    align-items: center;

    margin-bottom: 20px;
}
.sidebar-nav,
.sidebar-contacts {
    margin-bottom: 20px;
}

.sidebar-nav li,
.sidebar-contacts li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;

    margin-bottom: 20px;
}

.vw-db {
    fill: #fff;
    width: 40px;

}
.svg-dk {
    width: 20px;

    justify-self: center;
}
.svg {
    fill: #fff;
    width: 17px;

    justify-self: center;
}
.sidebar-nav > ul,
.sidebar-contacts > ul {
    list-style-type: none;
}
.main-content {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px 10px;
    background-color: #cbd5e1;   
}

.projects .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
}

.card {
    background-color: #fff;
    padding: 15px;
    margin: 8px;
    border-left: 8px solid #84cc16;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #727575;
}

.contents,
.trends {
    background-color: #fff;
    padding: 15px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #727575;
    width: 300px;
    height: 350px;
}

.content {
    padding: 10px 10px 20px 10px;
    margin: 10px;
}

.line {
    border-bottom: 1px solid #9ca3af;
}

.content-para {
    color: #727575;
    font-size: small;
}